<a href="https://colab.research.google.com/github/ICBI/Data.Bridge.Notebooks/blob/main/Goal1_SDOH/Tutorial1_BigQueryPythonGuide.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tutorial: How to query the Georgetown-SDOH BigQuery database using python

**Team members**: Peter McGarvey, Adil Alaoui, Yili Zhang, Jia Li Dong, Krithika Bhuvaneshwar, Camelia Bencheqroun

**Affiliation**: Innovation Center for Biomedical Informatics (Georgetown-ICBI), Georgetown University Medical Center

## Pre-requisites
* Users must have a google based account, with the ability to use its cloud
* Access/Credentials: Please contact icbi@georgetown.edu to request read-only access to the Georgetown-SDOH BigQuery database

## Installation and Authentication
We need to install the Google Cloud Bigquery Python Client, and complete authentication so that we can connect to the BigQuery data warehouse. So authenticate and log in using your google account. Click **Allow** and log in according to the prompt.

In [ ]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

Google Colab includes the `google.colab.data_table` package that can be used to display large pandas dataframes as an interactive data table. It can be enabled as follows:

In [ ]:
%load_ext google.colab.data_table

Declare the Cloud project ID which will be used throughout this notebook. The project ID of the Georgetown-SDOH database is **sdoh-352614**.

In [ ]:
project_id = 'sdoh-352614'

Now, you can query the Georgetown-SDOH BigQuery using SQL !

The beginning format of your query calls for the client, which connects you to the project that you are working on.

In [ ]:
#import the right packages
from google.cloud import bigquery

#create a client object using the project id
client = bigquery.Client(project=project_id)

## Example query: List all the datasets in the Georgetown-SDOH data warehouse

In [ ]:

datasets = list(client.list_datasets())  # Make an API request.
project = client.project

if datasets:
    print("Datasets in project {}:".format(project))
    for dataset in datasets:
        print("\t{}".format(dataset.dataset_id))
        tables = client.list_tables(dataset.dataset_id)

        print("Tables contained in '{}':".format(dataset.dataset_id))
        for table in tables:
            print("{}.{}.{}".format(table.project, table.dataset_id, table.table_id))

else:
    print("{} project does not contain any datasets.".format(project))

Datasets in project sdoh-352614:
	PEDS_DEID
Tables contained in 'PEDS_DEID':
sdoh-352614.PEDS_DEID.Billing Data DEID Mar 15 2022
sdoh-352614.PEDS_DEID.Pediatric Survivorhip GUH Tumor Registry data deid
sdoh-352614.PEDS_DEID.Pediatric Survivorhip GUH data deid with age at dx without dates
sdoh-352614.PEDS_DEID.Pediatric Survivorhip GUH data deid with age at dx without dates with FIPS code
	Social_Determinants
Tables contained in 'Social_Determinants':
sdoh-352614.Social_Determinants. USCS BySite 1999-2019
sdoh-352614.Social_Determinants. USCS ChildByAge Adjusted 1999-2019
sdoh-352614.Social_Determinants. USCS ChildByAge Cr 1999-2019
sdoh-352614.Social_Determinants. USCS ChildBySite 1999-2019
sdoh-352614.Social_Determinants. USCS ICCCByAge Adjusted 1999-2019
sdoh-352614.Social_Determinants. USCS ICCCByAge Cr 1999-2019
sdoh-352614.Social_Determinants. USCS ICCCBySite 1999-2019
sdoh-352614.Social_Determinants.2018 County Health Additional Measures Data
sdoh-352614.Social_Determinants.2018 County Health Outcomes and Factors Ranking
sdoh-352614.Social_Determinants.2018 County Health Outcomes and Factors Subrankings
sdoh-352614.Social_Determinants.2018 County Health Ranked Measure Data
sdoh-352614.Social_Determinants.2018 County Health Rankings Data
sdoh-352614.Social_Determinants.2021 County Health Rankings
sdoh-352614.Social_Determinants.2022 County Health Rankings
sdoh-352614.Social_Determinants.2022 County Health Trends Data
sdoh-352614.Social_Determinants.2023 County Health Rankings Data
sdoh-352614.Social_Determinants.2023 County Health Trends Data
sdoh-352614.Social_Determinants.ACS5Year2020Estimates
sdoh-352614.Social_Determinants.ADI 2019
sdoh-352614.Social_Determinants.ADI 2020
sdoh-352614.Social_Determinants.AHRQ SDOH County Level 2020
sdoh-352614.Social_Determinants.AHRQ SDOH Zip Code Data 2020
sdoh-352614.Social_Determinants.ARHQ SDOH Tract Level Data 2020
sdoh-352614.Social_Determinants.Area Health Resource 2019
sdoh-352614.Social_Determinants.Area Health Resource 2020
sdoh-352614.Social_Determinants.Area Health Resource 2021
sdoh-352614.Social_Determinants.Area Health Resource State and National Level 2019
sdoh-352614.Social_Determinants.Area Health Resource State and National Level 2020
sdoh-352614.Social_Determinants.Area Health Resource State and National Level 2021
sdoh-352614.Social_Determinants.COI Child population data
sdoh-352614.Social_Determinants.COI Index table
sdoh-352614.Social_Determinants.COI component indicators Raw indicator values
sdoh-352614.Social_Determinants.COI component indicators Z-scores
sdoh-352614.Social_Determinants.Census 2020 Ethnicity Population Data
sdoh-352614.Social_Determinants.Census 2020 Redistricting Data
sdoh-352614.Social_Determinants.County level cancer incidence data 2014-2018
sdoh-352614.Social_Determinants.County level cancer mortality data 2014-2018
sdoh-352614.Social_Determinants.Education Attainment Reformatted
sdoh-352614.Social_Determinants.Educational Attainment by County
sdoh-352614.Social_Determinants.Eviction Cities Monthly Data
sdoh-352614.Social_Determinants.Eviction Cities Weekly Data
sdoh-352614.Social_Determinants.Eviction State Monthly Data
sdoh-352614.Social_Determinants.Eviction State Weekly Data
sdoh-352614.Social_Determinants.FBI Crime Data 2019
sdoh-352614.Social_Determinants.Low Food Access Areas 2018
sdoh-352614.Social_Determinants.Minority SVI 2018
sdoh-352614.Social_Determinants.NDI 2013-2017
sdoh-352614.Social_Determinants.SDI 2015 County Level
sdoh-352614.Social_Determinants.SDI 2015 Tract Level
sdoh-352614.Social_Determinants.SVI 2018
sdoh-352614.Social_Determinants.SVI 2020 County Level
sdoh-352614.Social_Determinants.SVI 2020 County Tract Level
sdoh-352614.Social_Determinants.School Data 2018
sdoh-352614.Social_Determinants.Small Area Income and Poverty Estimates SAIPE 2020
sdoh-352614.Social_Determinants.Social Capital SOCAP 2014
sdoh-352614.Social_Determinants.Social Capital SOCAP 2019
sdoh-352614.Social_Determinants.USCS BrainBySite 1999-2019
sdoh-352614.Social_Determinants.USCS ByAge 1999-2019
sdoh-352614.Social_Determinants.USCS ByArea 1999-2019
sdoh-352614.Social_Determinants.USCS ByArea County 1999-2019
sdoh-352614.Social_Determinants.seer
	gdp_and_income_by_county
Tables contained in 'gdp_and_income_by_county':
sdoh-352614.gdp_and_income_by_county.fips

## Example 1: Load the ***Eviction State Monthly Data*** from the SDoH datawarehouse into a new dataframe in Colab called **evicstmth**.

We use SQL to access the database using the client. Use the SQL syntax of ```SELECT * FROM the_location_of_your_project.the_location_of_your_dataset.the_table_location``` **inside** the client query with three single quotation marks in order to obtain the data.

Say for example, you wanted to query into a table in BigQuery named **SVI 2018**, which is inside the BigQuery dataset named **Social_Determinants**. The **Social_Determinants** dataset is inside a BigQuery project named **sdoh-352614**. You wanted to load the data table into a new dataframe in Colab called **df1**. You will type this inside the client query:

```SELECT * FROM `sdoh-352614.Social_Determinants.SVI 2018```

Then store the client query table inside the new dataframe called **df1**.

```df1 = client.query('''
SELECT * FROM `sdoh-352614.Social_Determinants.SVI 2018`
''').to_dataframe()```

In [ ]:
#%%bigquery --project sdoh-352614 evicstmth

query1 = '''SELECT * FROM `sdoh-352614.Social_Determinants.Eviction State Monthly Data`'''
evicstmth = client.query(query1).to_dataframe()

View the first five rows:

In [ ]:
evicstmth.head()

,state,type,GEOID,month,filings_2020,filings_avg,last_updated
0,delaware,Census Tract,10003016305,22-Jun,11,0.0,2022-06-04
1,indiana,Census Tract,18077966100,21-Mar,13,0.0,2022-06-04
2,indiana,Census Tract,18077966100,21-May,10,0.0,2022-06-04
3,indiana,Census Tract,18077966100,21-Jul,10,0.0,2022-06-04
4,indiana,Census Tract,18077966100,21-Sep,10,0.0,2022-06-04

## Example 2: Load another SDoH dataset, Neighborhood Deprivation Index with data from from 2013 to 2017

Load another SDoH dataset, Neighborhood Deprivation Index, from 2013 to 2017, known as the ***NDI 2013-2017***, into another dataframe in Colab and name it as **NDI**.

In [ ]:
#%%bigquery --project sdoh-352614 NDI
query2 = '''SELECT *FROM `sdoh-352614.Social_Determinants.NDI 2013-2017`'''
NDI = client.query(query2).to_dataframe()

As you can see, after connecting to BigQuery, we have to query the dataset using SQL. In the **FROM** section of SQL, we use the following format:
```project_location```.```dataset_location```.```table_name```

We first type in the project location, followed by a period, then the dataset location, followed by another period, and lastly, the table name.

As quotation marks, we use the squiggly line key, which is between the Esc key and the Tab key.

Here is the NDI dataset in Python that we've queried in the previous section:

In [ ]:
NDI.head()

,TractID,StCoFIPS,StAbbr,NDI,NDIQuint,MedHHInc,PctRecvIDR,PctPubAsst,MedHomeVal,PctMgmtBusSciArt,PctFemHeadKids,PctOwnerOcc,PctNoPhone,PctNComPlmb,PctEducHSPlus,PctEducBchPlus,PctFamBelowPov,PctUnempl
0,1101003000,1101,AL,NaN,9-NDI not avail,26635,2.5,40.9,62300,NaN,26.1,46.3,2.1,3.5,72.2,11.6,40.3,22.8
1,2016000100,2016,AK,NaN,9-NDI not avail,62083,NaN,1.0,81300,28.1,NaN,60.8,4.2,2.1,92.0,13.8,12.3,3.5
2,2105000200,2105,AK,NaN,9-NDI not avail,42500,65.0,NaN,<NA>,39.3,3.0,75.0,6.3,9.4,83.9,16.1,5.3,12.5
3,2170000101,2170,AK,NaN,9-NDI not avail,37222,66.9,NaN,128100,22.6,6.6,82.4,6.3,22.4,87.8,11.5,22.0,15.8
4,2290000100,2290,AK,NaN,9-NDI not avail,27222,53.4,NaN,81100,38.3,14.2,71.7,7.1,56.4,77.6,8.7,34.7,23.1

Here, we describe the data:

In [ ]:
NDI.describe()

,TractID,StCoFIPS,NDI,MedHHInc,PctRecvIDR,PctPubAsst,MedHomeVal,PctMgmtBusSciArt,PctFemHeadKids,PctOwnerOcc,PctNoPhone,PctNComPlmb,PctEducHSPlus,PctEducBchPlus,PctFamBelowPov,PctUnempl
count,7.305600e+04,73056.000000,68729.000000,72010.000000,71496.000000,70757.000000,7.096500e+04,71820.000000,70524.000000,72240.000000,71679.000000,72240.000000,72410.000000,72410.000000,72189.000000,72305.000000
mean,2.782601e+10,27825.756324,0.000578,61571.416706,20.630293,14.671076,2.426985e+05,35.581164,8.626781,63.203056,2.406512,0.433675,86.660500,29.615430,12.014513,7.102571
std,1.581010e+10,15810.097067,0.745852,30358.730222,11.997621,12.233646,2.067628e+05,15.139815,6.429578,22.808354,2.471933,1.283982,10.761807,19.013141,11.075066,4.955727
min,1.001020e+09,1001.000000,-2.470200,3709.000000,0.100000,0.000000,1.040000e+04,0.900000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.212708e+10,12127.000000,-0.469700,40781.000000,11.600000,5.600000,1.118000e+05,24.700000,4.100000,48.600000,0.900000,0.000000,81.900000,14.900000,4.100000,3.900000
50%,2.712304e+10,27123.000000,0.084500,54766.000000,19.100000,11.300000,1.733000e+05,33.400000,6.900000,68.200000,1.900000,0.000000,89.600000,24.600000,8.600000,5.900000
75%,4.103597e+10,41035.000000,0.527400,75000.000000,27.600000,20.300000,3.009000e+05,45.000000,11.500000,81.200000,3.200000,0.500000,94.400000,40.700000,16.700000,8.900000
max,5.604595e+10,56045.000000,1.922000,249750.000000,94.000000,92.300000,1.998300e+06,92.000000,89.800000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000

## Example 3 : Access the FBI Crime data from 2019. Then sort based on an attribute of interest

In [ ]:
query3 = '''SELECT * FROM `sdoh-352614.Social_Determinants.FBI Crime Data 2019` LIMIT 1000'''
fbicrime = client.query(query3).to_dataframe()
fbicrime.head()

,Geo_FIPS,Geo_NAME,Geo_QNAME,Geo_NATION,Geo_STATE,Geo_COUNTY,SE_T001_001,SE_T002_001,SE_T002_002,SE_T002_003,...,SE_T010_003,SE_T010_004,SE_T010_005,SE_T010_006,SE_T011_001,SE_T011_002,SE_T011_003,SE_T011_004,SE_T011_005,SE_T011_006
0,4009,Graham County,"Graham County, Arizona",0,4,9,38837,165,61,104,...,None,None,None,None,None,None,None,None,None,None
1,4015,Mohave County,"Mohave County, Arizona",0,4,15,212181,2118,135,1983,...,None,None,None,None,None,None,None,None,None,None
2,5063,Independence County,"Independence County, Arkansas",0,5,63,37825,520,153,367,...,None,None,None,None,None,None,None,None,None,None
3,6001,Alameda County,"Alameda County, California",0,6,1,1671329,2802,633,2169,...,None,None,None,None,None,None,None,None,None,None
4,6015,Del Norte County,"Del Norte County, California",0,6,15,27812,508,84,424,...,None,None,None,None,None,None,None,None,None,None

In [ ]:
#sort based on Geographical state in descending order
fbicrime.sort_values("Geo_STATE", ascending=False)

,Geo_FIPS,Geo_NAME,Geo_QNAME,Geo_NATION,Geo_STATE,Geo_COUNTY,SE_T001_001,SE_T002_001,SE_T002_002,SE_T002_003,...,SE_T010_003,SE_T010_004,SE_T010_005,SE_T010_006,SE_T011_001,SE_T011_002,SE_T011_003,SE_T011_004,SE_T011_005,SE_T011_006
81,54039,Kanawha County,"Kanawha County, West Virginia",0,54,39,178124,1741,380,1361,...,None,None,None,None,None,None,None,None,None,None
77,53025,Grant County,"Grant County, Washington",0,53,25,97733,932,95,837,...,None,None,None,None,None,None,None,None,None,None
78,53033,King County,"King County, Washington",0,53,33,2252782,4228,607,3621,...,None,None,None,None,None,None,None,None,None,None
79,53053,Pierce County,"Pierce County, Washington",0,53,53,904980,7974,1152,6822,...,None,None,None,None,None,None,None,None,None,None
80,53061,Snohomish County,"Snohomish County, Washington",0,53,61,822083,4863,535,4328,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,1057,Fayette County,"Fayette County, Alabama",0,1,57,16302,<NA>,<NA>,<NA>,...,None,None,None,None,None,None,None,None,None,None
134,1059,Franklin County,"Franklin County, Alabama",0,1,59,31362,<NA>,<NA>,<NA>,...,None,None,None,None,None,None,None,None,None,None
135,1061,Geneva County,"Geneva County, Alabama",0,1,61,26271,<NA>,<NA>,<NA>,...,None,None,None,None,None,None,None,None,None,None
136,1063,Greene County,"Greene County, Alabama",0,1,63,8111,<NA>,<NA>,<NA>,...,None,None,None,None,None,None,None,None,None,None
114,1019,Cherokee County,"Cherokee County, Alabama",0,1,19,26196,<NA>,<NA>,<NA>,...,None,None,None,None,None,None,None,None,None,None

## Storing BigQuery credentials
BigQuery service account credentials are provided as a JSON file. If you don't already have one, you can genrate one like [this](https://docs.openbridge.com/en/articles/1856793-how-to-set-up-google-bigquery-creating-and-configuring-service-accounts-in-google-cloud-console):

**Important:** Keep this JSON file somewhere safe, and do not check it into github or share with anyone else

In [ ]:
#import the BigQuery connector library
from google.cloud import bigquery
from google.oauth2 import service_account


credentials = service_account.Credentials.from_service_account_file(
'path/to/your/service-account-file.json')

project_id = 'your-bigquery-project-id-here'

#your client object needs to be created using both the credentials file and the project id
client = bigquery.Client(credentials= credentials,project=project_id)